/* table{
    border: 1px solid;
} */
#coustomers{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse:collapse;
    width: 100%;
}
#coustomers td,#coustomers th{
    border: 1px solid hsl(0, 0%, 87%);
    padding: 8px;
}
#coustomers th{
    background-color: hsl(162, 82%, 34%);
    text-align: left;
    padding: 12px;
    color:white; 
}

#coustomers tr:nth-child(even){
    background-color: hsl(0, 0%, 92%);
}
#coustomers tr:hover{
    background-color: hsl(0, 0%, 72%);

}

caption{
    caption-side: bottom;
}