
ul{
    background-color: hsl(0, 0%, 20%);
    list-style: none;
    /* height: 100px; */
    margin: 0;
    padding: 0;
    overflow: hidden; 

}
li{
   float: left;/*ul Height collapse to 0*. Beacause there is no other elements. so we have to use overflow:hidden.*/
   margin-right: 10px;
}

li a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px; 
    color: white;
}
li a:hover{
    background-color: hsl(0, 50%, 0%);

}
li a:active{
    background-color: hsl(0, 40%, 20%);

}

#check{
    display: inline-block;
    text-decoration: none;
    background-color:gray;
    padding: 14px 16px;
}